@font-face {
    font-family: "Hello Kitty";
    src: url("./Fonts/Boldins.woff");
}

@font-face {
    font-family: "Hello Kitty 2";
    src: url("./Fonts/Odin\ Rounded\ -\ Bold.woff");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}

#outer_area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:680px;
}

#title {
    font-family: "Hello Kitty";
    font-size: 60pt;
    display: flex;
    align-self: flex-end;
    margin-bottom: -20px;
    margin-left: 28px;
    color: #fc6799;
}

.bow {
    display: flex;
    align-self: flex-end;
    transform: scaleY(-1);
    width: 194px;
    height: 156px;
    object-fit: contain;
    margin-bottom: -92px;
}

#calculator_box {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 740px;
    border: 6px solid black;
    background-color: white;
    border-radius: 40px;
    padding-bottom: 10px;
}

#screen {
    display: flex;
    flex-direction: row;
    background-color: #feb8dc;
    padding-top: 120px;
    padding-bottom: 110px;
    justify-content: space-between;
    border-radius: 34px 34px 0 0;
    overflow: hidden;
}

.HKpng {
    display: flex;
    justify-content: flex-end;
    width: 167px;
    height: 124px;
    object-fit: cover;
    padding-left: 30px;
}

#input {
    font-family: "Hello Kitty";
    font-size: 60pt;
    color: white;
    display: flex;
    padding-right: 62px;
    align-self: flex-start;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    padding-top: 40px;
    padding-bottom: 60px;
    width: 500px;
    height: 740px;
}

button {
    font-family: "Hello Kitty 2";
    font-size: 30pt;
    border-radius: 50%;
    border-color: white;
    box-shadow: none;
    border-width: 0px;
    width: 70px;
    height: 70px;
    padding: 5px;
    background-color: #feb8dc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first_row_buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

#second_row_buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

#third_row_buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

#fourth_row_buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

#fifth_row_buttons {
    display: flex;
    justify-content: space-evenly;
}

#clear,
#delete,
#percent {
    background-color: #fc6799;
}

#clear,
#delete {
    font-size: 30px;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#zero,
#decimal {
    background-color: #ffebf6;
    color: #fc6799;
}

#equals {
    width: 183px;
    height: 70px;
    padding: 5px;
    border-radius: 50px;
}