@font-face {
    font-family: "Hello Kitty";
    src: url("./Fonts/Boldins.woff");
}

@font-face {
    font-family: "Hello Kitty 2";
    src: url("./Fonts/Odin\ Rounded\ -\ Bold.woff");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}

#outer_area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:680px;
}

#title {
    font-family: "Hello Kitty";
    font-size: 60pt;
    display: flex;
    align-self: flex-end;
    margin-bottom: -20px;
    margin-left: 0px;
    color: #fc6799;
}

.bow {
    display: flex;
    align-self: flex-end;
    transform: scaleY(-1);
    width: 224px;
    height: 156px;
    object-fit: contain;
    margin-bottom: -89px;
}

#calculator_box {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 740px;
    border: 6px solid black;
    background-color: white;
    border-radius: 40px;
    padding-bottom: 10px;
}

#screen {
    display: flex;
    flex-direction: column;
    border-radius: 34px 34px 0 0;
    background-color: #feb8dc;
}

#bottom_screen {
    display: flex;
    flex-direction: row;
    background-color: #feb8dc;
    /* padding-top: 21px; */
    /* padding-bottom: 110px; */
    justify-content: space-between;
    /* border-radius: 34px 34px 0 0; */
    overflow: hidden;
}

#history {
    font-family: "Hello Kitty";
    font-size: 30pt;
    font-style: italic;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 179px;
    /* padding-top: 97px; */
    padding-bottom: 8px;
    width: 246px;
    height: 125px;
}

.HKpng {
    display: flex;
    justify-content: flex-end;
    width: 167px;
    height: 124px;
    object-fit: cover;
    padding-left: 30px;
    margin-bottom: -14px;
}

#input {
    font-family: "Hello Kitty";
    font-size: 60pt;
    color: white;
    display: flex;
    padding-right: 62px;
    justify-content: flex-end;
    width: 246px;
    /* align-self: flex-end; */
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    padding-top: 35px;
    padding-bottom: 60px;
    width: 500px;
    height: 740px;
}

button {
    font-family: "Hello Kitty 2";
    font-size: 40pt;
    border-radius: 50%;
    border-color: white;
    box-shadow: none;
    border-width: 0px;
    width: 70px;
    height: 70px;
    padding: 5px;
    background-color: #feb8dc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first_row_buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

#second_row_buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

#third_row_buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

#fourth_row_buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

#fifth_row_buttons {
    display: flex;
    justify-content: space-evenly;
}

#clear,
#delete,
#percent {
    background-color: #fc6799;
}

#clear:active,
#delete:active,
#percent:active {
    background-color: #ffebf6;
    color: #fc6799;
}

#percent {
    font-size: 45px;
}

#clear {
    font-size: 45px;
}

#delete {
    font-size: 38px;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#zero,
#decimal {
    background-color: #ffebf6;
    color: #fc6799;
}

#equals {
    width: 183px;
    height: 70px;
    padding: 5px;
    border-radius: 50px;
}

#divide {
    font-size: 45pt;
    font-weight: 900;
    padding-bottom: 15px;
}

#divide:active,
#multiply:active,
#plus:active,
#minus:active,
#equals:active {
    background-color: #ffebf6;
    color: #fc6799;
}

#decimal:active,
#zero:active,
#one:active,
#two:active,
#three:active,
#four:active,
#five:active,
#six:active,
#seven:active,
#eight:active,
#nine:active {
    background-color: #fc6799;
    color: #ffebf6;
}